* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Lato";
  }
  .wrapper {
    /* background-color: #4983da; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
  }
  
  .welcome_text {
    width: 400px;
  }
  
  
  
  .welcome_form input,
  .welcome_form button {
    display: block;
    width: 100%;
  }
  
  .welcome_form input {
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
  }
  
  .welcome_form input:focus {
    outline: none;
  }
  
  .welcome_form button {
    padding: 20px 0;
    border: none;
    border-radius: 100px;
    background-color: #fff;
    color: #341f97;
    font-size: 22px;
    transition: 0.4s all;
  }
  
  .welcome_form button:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .quiz {
    display: grid;
    grid-template-rows: 60px auto;
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }
  
  .quiz_header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .quiz_body {
    padding: 30px 30px;
  }
  .quiz_user {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
  }
  
  .quiz_timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    background-color: #341f97;
    color: #fff;
  }
  .quiz_body {
    background-color: #ecf0f1;
  }
  
  .option_group {
    list-style-type: none;
    margin: 30px 0;
  }
  
.li{
    box-sizing: border-box;
}

  .option {
    list-style-type: none;
    display: block;
    width: 800px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 100px;
    border: 2px solid transparent;
    transition: 0.4s all;
  }
  
  .option:hover {
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.1); */
    border: 2px solid #341f97;
    color: #341f97;
  }
  .option.active {
    background-color: #341f97;
    color: #fff;
  }
  .btn-next {
    border: none;
    padding: 15px 35px;
    background-color: #341f97;
    color: #fff;
    border-radius: 27px;
    transition: 0.4s all;
  }
  
  .btn-next:hover {
    cursor: pointer;
    background-color: #fff;
    color: #341f97;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  }
  
  .award_icon {
    display: block;
    font-size: 300px;
    color: #fff;
  }
  
  .username,
  .userpoints,
  .usertime {
    color: #fff;
    text-align: center;
    margin-top: 15px;
  }
  
  .head1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: #220c83;
  }
  
  /* optional styles, I'm using this for centering radiobuttons */
  .flex {
    display: flex;
    align-items: center;
  }


  
  .tot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    
  }
  .tans {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#00CC66 ;
  }
  .fans {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#FF0000 ;
  }
  
  .reggif10{
    margin-left: 150px;
  }

  /*.....................*/

  
#ff
{
  background-color: white;
  margin-top: 50px;
  margin-left: 150px;
  height:750px;
  width:900px;
  padding:8px 8px 8px 8px;
 }

/*hr{
  border-top: 1px solid grey;
}*/

.tesc{
    padding: 5px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.tesp{
    color: black;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

.heading{
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}

.container{
   margin-top: 25px;
   margin-bottom: 20px;
}

.caption{
  margin-top: 20px;
  color: red;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
 
.tb{
   background-color:#e9f5f9;
}

.headr{
  text-align: center;
  color: green;
}